<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<sites>
			<site name="cognizantplc" patch:before="site[@name='website']"
				  virtualFolder="/"
				  physicalFolder="/"
				  rootPath="/sitecore/content/cognizant-plc"
				  startItem="/home"
				  database="web"
				  hostName="cognizant.plc.local"
				  targetHostName="cognizant.plc.local"
				  domain="extranet"
				  allowDebug="true"
				  cacheHtml="true"
				  htmlCacheSize="50MB"
				  enablePreview="true"
				  enableWebEdit="true"
				  enableDebugger="true"
				  disableClientData="false"/>
		</sites>
	</sitecore>
</configuration>